.DS_Store
**/.DS_Store

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
!vscode/ilimap-vscode/.vscode/
!vscode/ilimap-vscode/.vscode/launch.json
!vscode/ilimap-vscode/.vscode/tasks.json
.project
.classpath
.settings/

# Java
*.class
*.jar
*.war

# OS
Thumbs.db
